Hi <%= @check_in_set.first.reserver.name %>,
<br />

<p>This is a receipt for your equipment return. </p>

<% @check_in_set.each do |r| %>
<p>Equipment returned: <%= r.equipment_model.name%> (<%= r.equipment_object.name %>) <br />
Checkout date: <%= r.checked_out.strftime(" %B %e, %Y at %l:%M%P") %> <br /> 
Return date: <%= r.checked_in.strftime(" %B %e, %Y at %l:%M%P") %> <br />

<% unless r.notes.nil? %> 
Notes: <%= simple_format(r.notes) %> <br />
<% end %>
</p>
<p> 
<% if (r.due_date - r.checked_in ) < 86400 %>
			Since the equipment was returned late, you will be charged a late fee of 
			<%= number_to_currency(r.equipment_model.late_fee) %> per day, 
			for a total of <%= number_to_currency(((r.checked_in - r.due_date )/86400).to_i*(r.equipment_model.late_fee))%>. </p>
<% end %></p>
<% end %>		
			


Sincerely, <br />
<%= AppConfig.first.department_name %>
