<!DOCTYPE html>
<html>

  <!-- ================== HTML HEAD ================== -->
  <%= render 'layouts/head' %>
  <!-- ================ END HTML HEAD ================ -->

  <body data-spy="scroll" data-target=".subnav" data-offset="100">

    <%= render 'layouts/navbar' %>
    
    <div class="container">
      <%= render 'layouts/flash' %>
      <div class="row">
        <!--HEADER SECTION-->
        <div id="header" class="hero-unit">
          <h1><%= "#{site_title}" %></h1>
        </div>
      </div>
      <% # flash messages, if any %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name == :notice ? "success" : "error"}" do %>
          <%= msg %>
          <button class="close" data-dismiss="alert">×</button>
        <% end %>
      <% end %>
      <div class="row">
      <!-- ================ LEFT SIDEBAR ================ -->
    	<div id="sidebar-left">
    	  <div id="sidebarbottom" class="span2">
  			    <ul class="nav nav-list well">
              <li class="active"><%= link_to "Catalog", catalog_path %></li>
            <% if current_user.nil? %>
              <li><%= link_to "Sign In", new_session_path %></li>
            <% elsif current_user.is_admin_in_adminmode? %>
              <li><%= link_to "Users", users_path %></li>
            <% else %>
              <li><%= link_to "My Profile", user_path(current_user) %></li>
            <% end %>
            <% if current_user and current_user.is_admin_in_adminmode? %>
              <li><%= link_to "Categories", categories_path %></li>
              <li><%= link_to "Equipment Models", equipment_models_path %></li>
            <% end %>
            <% if current_user and current_user.can_checkout? %>
              <li><%= link_to "Equipment Objects", equipment_objects_path %></li>
            <% end %>
              <li><%= link_to "Reservations", reservations_path %></li>
            <% if current_user and current_user.is_admin_in_adminmode? %>
              <li><%= link_to "App Settings", edit_app_config_path %></li>
            <% end %>
              <li class="divider"></li>
              <li><%= link_to Settings.home_link_text, Settings.home_link_location %></li>
              <li><%= link_to Settings.contact_link_text, Settings.contact_link_location %></li>
              <li class="divider"></li>
              <!-- ==== VIEW-AS MODE ==== -->
			      <% if current_user and current_user.is_admin? %>
		          <li class="nav-header">View as:</li>
		          <% if current_user.adminmode? %>
              Admin
		          <% else %>
              <%= link_to 'Admin', {:a_mode => 'ON'}%>
              <% end %>
		          <br>
		          <% if current_user.checkoutpersonmode? %>
              Checkout Person
		          <% else %>
              <%= link_to 'Checkout Person', {:c_mode => 'ON'}%>
              <% end %>
		          <br>
		          <% if current_user.normalusermode? %>
              Normal User
		          <% else %>
              <%= link_to 'Normal User', {:n_mode => 'ON'}%>
              <% end %>
		          <br>
		          <% if current_user.bannedmode? %>
              Banned User
		          <% else %>
              <%= link_to 'Banned User', {:b_mode => 'ON'}%>
              <% end %>
	          <% end %>
              <!-- ==== END VIEW-AS MODE ==== -->
            </ul>
          <%= yield(:left_sidebar) %>
    	  </div>
    	</div>
      <!-- ================ END LEFT SIDEBAR ================ -->

      	<!-- ================ MAIN PAGE CONTENT ================ -->
      	<%= render 'layouts/content' %>
        <!-- ================ END MAIN PAGE CONTENT ================ -->
        
      </div>
      <!-- ================ FOOTER ================ -->
      <%= render 'layouts/footer' %>
      <!-- ================ END FOOTER ================ -->
    </div>    
    
  </body> 
</html>
